<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Formulaire d'inscription</h3>
                        <form (ngSubmit)="register(userForm)" #userForm="ngForm">

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="nom">Nom</label>
                                        <input type="text" id="nom" class="form-control form-control-lg" name="nom" [(ngModel)]="user.nom"/>

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="prénom">Prénom</label>
                                        <input type="text" required id="prénom" class="form-control form-control-lg" name="prenom" [(ngModel)]="user.prenom"/>

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">Date de naissance</label>
                                        <input type="date" class="form-control form-control-lg" id="dateN" name="dn" [(ngModel)]="user.dn"/>

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <h6 class="mb-2 pb-1">Sexe</h6>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="sexeF">Féminin</label>
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="sexeF" value="F" name="sexe" [(ngModel)]="user.sexe" />

                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="sexeM">Masculin</label>
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="sexeM" value="M" name="sexe" [(ngModel)]="user.sexe"/>

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="email">Email</label>
                                        <input type="email" required id="email" class="form-control form-control-lg" name="email" [(ngModel)]="user.email"/>

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="phoneNumber">Tél</label>
                                        <input type="tel" id="tel" required class="form-control form-control-lg" name="tel" [(ngModel)]="user.tel"/>

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="pwd">Mot de passe</label>
                                        <input type="password" required id="pwd" class="form-control form-control-lg" name="mdp" [(ngModel)]="user.mdp"/>

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="pwd2">Confirmer mot de passe</label>
                                        <input type="password" required id="pwd2" class="form-control form-control-lg" name="pwd2" [(ngModel)]="pwd2"/>

                                    </div>

                                </div>
                            </div>

                            <p *ngIf="userForm.invalid" class="text-secondary">Vous devez remplir tous les champs</p>

                            <p *ngIf="user.mdp!=='' && pwd2!=='' && user.mdp!==pwd2" [ngStyle]="{'color':'red'}">Les deux mots de passe ne sont pas les mêmes !</p>

                            <div class="mt-4 pt-2">                                                        
                                <input type="submit" [disabled]="userForm.invalid && user.mdp!==pwd2" class="btn btn-secondary rounded-pill" value="Créer compte"/>			                                
                            </div>

                            <div class="mt-4 pt-2">
                                <p>Vous avez un compte? <a routerLink="/login" class="link-info">Connectez vous.</a></p>                                			                                
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>