<div class="d-flex justify-content-around align-items-center">
    <div class="mt-6">
        <h1 class="text-center">Bienvenu dans la page d'acceuill de MyStore</h1>
        <p class="text-center"><i>
            Un lieu de shopping passionnant pour toute la famille.
        </i></p>
        <br/>
        <div class="text-center">            
            <button routerLink="/produits" type="button" class="btn btn-lg btn-secondary rounded-pill">Consulter le catalogue</button>
        </div>
        
    </div>

    <img [src]="homeImg" alt="métier"/>
    <!-- <div class="text-center">
        
    </div> -->
</div>
